<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Liveness
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="p-4">
        <ion-item class="form-group first small">
            <div class="form-group-wrapper">
                <div class="flex items-center justify-between mb-2">
                    <ion-label slot="stacked" style="margin-bottom: 0 !important;"><span>Swafoto</span></ion-label>
                </div>
                <div class="relative overflow-hidden bg-blank cursor-pointer rounded-lg border-dashed border border-grey-300 hover:border-primary form-control h-44">
                    <ng-container *ngIf="image$ | async as image else noSelfiePhotoTpl">
                        <img [src]="image" class="w-full h-auto object-contain" (click)="verihubs.handleStart(true)" />
                    </ng-container>
                    <ng-template #noSelfiePhotoTpl>
                        <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center"
                             (click)="verihubs.handleStart(true)"
                        >
                            <div class="text-center text-grey relative">
                                <ion-icon name="camera" class="w-5 h-5 text-grey-400"></ion-icon>
                                <p class="text-sm mt-2">Klik untuk mengambil swafoto</p>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ion-item>
    </div>
</ion-content>
